{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
<aside>
    <ul>
        <li><p><a href="{% url 'lista_videos' %}" target="iframe_a">Videos</a></p></li>
        {% if user.is_authenticated %}
        <li><p><a href="{% url 'novo_video' %}" target="iframe_a">Upload de video</a></p></li>
        {% endif %}
    </ul>
</aside>

<iframe src="{% static 'share/home.html' %}" name="iframe_a" height="500px" width="100%" title="Iframe Example"></iframe>

{% endblock %}