<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
{% for field in form %}
   <div class="form-group" id="form_temp">
    <div class="col_sm_offset-2 col-sm-10">
      <span class="text-danger small">{{ field.errors }}</span>
    </div><br>
    <label class="control-label col-sm-2">{{ field.label_tag }}</label>
    <div class="col_sm_offset-2 col-sm-10">{{ field }}</div>
  </div>
{% endfor %}
<button class="btn btn-success" type="submit">Submit</button>
</form>
</body>
</html>